{% extends 'base.html' %}

{% block content %}

<section class="default-banner active-blog-slider">
					<div class="item-slider relative" style="background: url(img/taj-mahal.jpg);background-size: cover;">
						<div class="overlay" style="background: rgba(0,0,0,.3)"></div>
						<div class="container">
							<div class="row fullscreen justify-content-center align-items-center">
								<div class="col-md-10 col-12">
									<div class="banner-content text-center">
										<h4 class="text-white mb-20 text-uppercase">Discover the Colorful World</h4>
										<h1 class="text-uppercase text-white">New Adventure</h1>
										<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br>
										or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
										<a href="#" class="text-uppercase header-btn">Discover Now</a>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="item-slider relative" style="background: url(img/indiaget.jpg);background-size: cover;">
						<div class="overlay" style="background: rgba(0,0,0,.3)"></div>
						<div class="container">
							<div class="row fullscreen justify-content-center align-items-center">
								<div class="col-md-10 col-12">
									<div class="banner-content text-center">
										<h4 class="text-white mb-20 text-uppercase">Discover the Colorful World</h4>
										<h1 class="text-uppercase text-white">New Trip</h1>
										<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br>
										or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
										<a href="#" class="text-uppercase header-btn">Discover Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item-slider relative" style="background: url(img/harmandir-sahib.jpg);background-size: cover;">
						<div class="overlay" style="background: rgba(0,0,0,.3)"></div>
						<div class="container">
							<div class="row fullscreen justify-content-center align-items-center">
								<div class="col-md-10 col-12">
									<div class="banner-content text-center">
										<h4 class="text-white mb-20 text-uppercase">Discover the Colorful World</h4>
										<h1 class="text-uppercase text-white">New Experience</h1>
										<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br>
										or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
										<a href="#" class="text-uppercase header-btn">Discover Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>


			<section class="section-gap info-area" id="about">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-40 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Why Choose Us</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>					
					<div class="single-info row mt-40">
						<div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
							<div class="info-thumb">
								<img src="img/img-14.jpg" class="img-fluid" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-12 no-padding info-rigth">
							<div class="info-content">
								<h2 class="pb-30">We Realize that <br>
								there are reduced <br>
								Wastege Stand out</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, nunc quis imperdiet egestas, elit urna dignissim ex, a varius eros elit at justo. Vivamus ut odio ut est viverra congue. Nam dapibus molestie est.								
								</p>
								<br>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, nunc quis imperdiet egestas, elit urna dignissim ex, a varius eros elit at justo. Vivamus ut odio ut est viverra congue. Nam dapibus molestie est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, nunc quis imperdiet egestas, elit urna dignissim ex, a varius eros elit at justo. Vivamus ut odio ut est viverra congue. Nam dapibus molestie est.									
								</p>
								<br>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, nunc quis imperdiet egestas, elit urna dignissim ex, a varius eros elit at justo. Vivamus ut odio ut est viverra congue. Nam dapibus molestie est.
								</p>
								</div>
						</div>
					</div>
				</div>
			</section>

{% endblock  %}